#form{
    color: #4a4a4a;
    text-align: center;
    padding: 20;
}
.h2{
    align-items: center;
}

#nav{
    background-color: #4a4a4a;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
}

#username{
    color: #bec4cf;
}

#navItem{
    padding-left: 800px;
    align-items: flex-end;
}