{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-md navbar-light bg-light" id="nav">
  <span id="username">Hi {{ user.username }}!</span>
  <a class="navbar-nav mr-auto" href="{% url 'logout' %}">Log Out</a>

</nav>

    <h3>Welcome to InterIntel Technologies.</h3>
    <p>
      InterIntel Technologies is an IT company based in Nairobi with
      an array of services ranging from software development, payment 
      aggregations on mobile, web and applications, loyalty programs, 
      premium rate service provision (IVR, SMS, USSD) among others. 
      Our forte is around payment and financial systems, this covers different 
      faucets from mobile channels (Mobile Apps, SMS, USSD), mobile money payments 
      (MPESA, AirtelMoney), micro-finance/micro-lending institutions, remittance etc.
    </p>

  
{% else %}
  <!-- <p>You are not logged in</p> -->
  <p style="text-align: center; margin-top: 15%;"><a href="{% url 'login' %}">Log In  </a>to continue</p>
{% endif %}
{% endblock %}